$heliotrope: #ae3fff;
$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-extra-dark: #220d33;
$color-primary-light: #ce8bff;
$color-primary-extra-light: #eed8ff;

$black: #252319;


$cod-gray: #141414;
$hit-gray: #aab2b5;

$white: #fff;
$off-white: #f4f4f4;
$off-white-2: #fbfbfb;

$gray: #999;
$gray-op-50: rgba(153, 153, 153, 0.5);
$gray-background: #424248;
$gray-dark: #666;
$gray-darker: #6e6f72;
$gray-extra-dark: #323232;
$gray-light: #ccc;
$gray-extra-light: #e5e5e5;
$gray-on-cinder: #717276;

$gray-blue: #2b2d3c;
$gray-blue-40: rgba(43, 45, 60, .4);

$blue: #00f;
$blue-2: #262986;
$blue-3: #00b2e1;
$blue-light: #3e44fe;
$blue-dark: #270091;